.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sketch-container {
    width: 480px;
    height: auto;
    border: solid black;
}

.sketch-frame {
    border: solid black;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.grid-row {
    display: flex;
}

.grid-box {
    border: solid grey 1px;
    background-color: white;
}